        .flex {
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .button {
            text-decoration: none;;
            padding: 8px 16px;
            border: 1px solid #000;
        }
        .red {
            background-color: red;
            color: white;
            border: none;
        }
        .green {
            background-color: green;
            color: white;
            border: none;
        }
        .gray {
            background-color: gray;
            color: white;
            border: none;
        }